@tailwind base;
@tailwind components;

.page-title {
  @apply text-4xl font-semibold text-black;
}

@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  padding: auto;
  font-family: 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
