@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: IMPORT QUICKSAND FROM GOOGLE FONTS */
* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
