/aws_deploy.md
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/.env.local
/*/.env.development.local
/*/.env.test.local
/*/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/cb-ec2-key.pem
server/virtualenv
server/__pycache__/
